@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-shadow: border-box;
    font-family: 'Inter', sans-serif; 
}

body {
   width: 100%;
   height: 50vh;
   display: inline-flex; 
   justify-content: center;
   align-items: center;
   background: #a3a3a3;
}

.container {
    width: 90%;
    height: 280vh;
    display: flex;
    background-color: #a3a3a3;
}

.form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a3a3a3;
  padding: 3rem;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.form-header h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.3;
  background-color: #1ab71a;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0; 
  width: 100%;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;

}
.input-box input {
  margin: 0.6rem;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1 px 6px #0000001c;
}

.input-box select {
  margin: 0.6rem;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1 px 6px #0000001c;
  width: 100%;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #1ab71a;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;

}

.gender-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62
  padding 0 0.5rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}

.send-button button {
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  background-color: #4b5563;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.send-button button:hover {
  background-color: #4b5563;
}

.send-button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-wind:1330px) {
  .container {
    width: 50%;
  }
  .form {
    width: 100%;
  }
}